<section id="home" style=""><%= render partial: 'partials/home' %></section>
<section id="about"><%= render partial: 'partials/about' %></section>
<section id="moonrocks"><%= render partial: 'partials/menu/moonrocks' %></section>
<section id="rosin"><%= render partial: 'partials/menu/rosin' %></section>
<section id="flower"><%= render partial: 'partials/menu/flower' %></section>
<section id="carts"><%= render partial: 'partials/menu/carts' %></section>
<section id="gallery"><%= render partial: 'partials/gallery' %></section>
<section id="contact"><%= render partial: 'partials/contact' %></section>
