<div id="prod-nav">
	<div class="container">
		<div class="row text-center">
			<div class="col-3 prod-btn" onclick='document.getElementById("mainContent").innerHTML = "<%=escape_javascript(render 'partials/content/moonrocks_content')%>"'>
				<a  class=' active2' >MOONROCKS</a>
			</div>
			<div class="col-3 prod-btn" onclick='document.getElementById("mainContent").innerHTML = "<%=escape_javascript(render 'partials/content/rosin_content')%>"'>
				<a  class='' >ROSIN</a>
			</div>
			<div class="col-3 prod-btn" onclick='document.getElementById("mainContent").innerHTML = "<%=escape_javascript(render 'partials/content/flower_content')%>"'>
				<a  class='' >FLOWER</a>
			</div>
			<div class="col-3 prod-btn" onclick='document.getElementById("mainContent").innerHTML = "<%=escape_javascript(render 'partials/content/cart_content')%>"'>
				<a  class='' >CARTRIDGES</a>
			</div>
		</div>
	</div>
</div>


<div id="mainContent" class="">
		<%= render 'partials/content/moonrocks_content'%>

	</div>
</div>
