<!-- <div class="container"> -->
  <!-- <h1 class="center title">Gallery</h1>
  <p class="subtitle">Take a peek at what we've been working on</p> -->

    <!-- <div class="row">
        <div class="col-10 ml-auto" id="slider"> -->
            <div id="myCarousel" class="carousel slide rounded">
                <div class="carousel-inner rounded">
                  <% @photos.each_with_index do |photo, index| %>
                    <div class="item carousel-item<%= " active" if photo == @photos.first %>" data-slide-number="<%="#{index}" %>">
                      <div class="item-fit">
                        <%= image_tag(photo.image_url, class: "center-cropped img-fluid") %>
                      </div>
                    </div>
                  <% end %>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
                <ul class="carousel-indicators list-inline shadow-inside rounded-top">
                  <% @photos.each_with_index do |photo, index| %>
                    <li  class= "list-inline-item <%= " active" if photo == @photos.first %>">
                      <a  id="carousel-selector-<%="#{index}" %>" data-target="#myCarousel" data-slide-to="<%="#{index}" %>" >
                      <%= image_tag(photo.image_url, class: "rounded img-thumb img-fluid") %>
                      </a>
                    </li>
                  <% end %>
                </ul>
            </div>
        <!-- </div>
    </div> -->
<!-- </div> -->
